.advanced-tabs .advanced-tabs-panel {
  display: none;
}

.advanced-tabs .advanced-tabs-panel.is-visible {
  display: block;
}

.advanced-tabs .tab-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin: 0 0 var(--spacing-l);
  padding: 0;
}

.advanced-tabs .tab-list button {
  margin: 0;
  padding: 4px 8px;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  background-color: transparent;
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  cursor: pointer;
  transition: border-bottom 0.2s ease-in-out;
}

.advanced-tabs .tab-list button.is-active {
  border-bottom-color: var(--text-color);
}
